<%- include('./partials/header') %>

<div class="img-container">
  <div class="img-content">
    <img class="home-img" src="https://i.imgur.com/ibk8AAi.jpg" />
  </div>
</div>
<%- include('./partials/footer') %>
